.breadcrums {
  font-size: 0.95rem !important;
  justify-content: start;
}

.breadcrums a, .breadcrums div {
  margin-right: 0.75rem;
}

/* .breadcrums a:hover {
  color: var(--text);
} */

/* .breadcrums a:first-child, .breadcrums div:first-child {
  padding-left: 0;
}

.breadcrums a:last-child, .breadcrums div:last-child {
  padding-right: 0;
} */

.breadcrums div:last-child span {
  display: none;
}

.post-meta {
  /* font-style: italic; */
  margin-bottom: 0.5rem;
  font-size: 0.95rem !important;
  color: var(--grey);
}

.post-meta span {
  font-size: 1.25rem;
  color: var(--purple);
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

/* article */
article {
  margin: 1rem;
}

article h1 {
  padding: 0.25em 0 0.5em;
  font-size: 2rem;
}

article h2 {
  padding: 0.75em 0 0.375em;
  font-size: 1.5rem;
}

article h3 {
  padding: 0.5em 0 0.25em;
  font-size: 1.25rem;
}

article h4 {
  padding: 0.25em 0 0.15em;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  color: var(--header-color);
}

article ul {
  list-style-type: circle;
  padding: 0.25em 0;
  margin: 0 1rem;
}

article ul li {
  padding: 0.25em;
}

.cover-img {
  position: relative;
  width: 100%;
  max-height: 600px;
  margin: 1.5rem auto;
}

article img {
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin: 1rem auto;
  border-radius: 5px;
  object-fit: cover;
  /* margin: 0.5rem auto; */
  margin: 0.5rem auto 1rem;
}

/* h1::selection, h2::selection, h3::selection, p::selection {
  background-color: var(--grey);
} */

code {
  color: var(--green);
  /* font-family: monospace; */
  font-size: 0.8rem;
}

article p {
  font-size: 1rem;
  padding: 0.4em 0;
  /* text-align: justify; */
}

article pre {
  padding: 0.4em 0;
  border-radius: 5px;
  background-color: var(--alt-bg);
  padding: 1em 2em;
  white-space: pre-wrap;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}

figcaption {
  padding: 0.25em 0 !important;
  font-style: italic;
  font-size: 0.90rem !important;
  color: var(--grey);
}

.img-cap {
  color: var(--text);
}

blockquote {
  padding: 1em 0.75em 1em 1.25em;
  border-left: 0.35rem solid var(--green);
  margin: 0.5rem 0;
  background-color: var(--alt-bg);
  border-radius: 5px;
}

.quote {
  font-style: italic;
  /* text-align: left !important; */
}
