:root {
  --text: #e8eaed;
  --blue: #93c5fd;
  --bg-color: #202124;
  --pink: #f28b82;
  --green: #81c995;
  --yellow: #fcd56c;
  --alt-bg: #2c2c2c;
  --grey: rgb(131, 131, 131);
  --header-color: #fdfdfd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text);
  font-weight: 400;
  line-height: 1.45;
}

/* .container {
  max-width: 1000px;
} */

p {
  font-size: 1rem;
}

.layout {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bottom-footer{
  margin-top: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--yellow);
}

/* footer */
footer {
  margin: 0 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--grey);
  gap: 0.5rem;
}

.footer-line {
  margin-top: 3rem;
}

footer div {
  text-align: center;
}

.contact-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* #post-tags {
  margin: 0 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.tag {
  background-color: var(--alt-bg);
  padding: 0.25em;
  border-radius: 5px;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--grey);
}

.tag:focus-within {
  background-color: var(--grey);
}  */

.btn {
  border: none;
  background: none;
  color: var(--bg-color);
  background-color: var(--pink);
  padding: 0.75em 1.25em;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}