@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Slab:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

:root {
  --text: #e8eaed;
  --blue: #93c5fd;
  --bg-color: #202124;
  --pink: #f28b82;
  --green: #81c995;
  --yellow: #fcd56c;
  --alt-bg: #2c2c2c;
  --grey: rgb(165, 165, 165);
  --header-color: #fdfdfd;
  --purple: #cdd2fe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text);
  font-weight: 400;
  line-height: 1.45;
  font-size: 100%;
}

p {
  font-size: 1rem;
  font-family: 'Roboto Slab', serif, Georgia, 'Times New Roman', Times;
}

.layout {
  margin: auto 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  min-height: 100vh;
}

.bottom-footer{
  margin: auto 1rem 1rem;
}

.btm-foot {
  margin: 0 1rem 1rem;
}

a {
  text-decoration: none;
  color: var(--blue);
}

/* a:hover {
  color: var(--yellow);
} */

/* footer */
footer {
  margin: 0 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--grey);
  gap: 0.5rem;
}

footer div {
  text-align: center;
}

.contact-links {
  gap: 1rem;
}

.contact-links a {
  font-weight: 400;
  color: var(--yellow);
}

.contact-links a:hover {
  color: var(--purple);
}

hr {
  opacity: 70%;
  margin: 2rem auto 2rem;
  display: block;
}

.btn {
  border: none;
  background: none;
  color: var(--bg-color);
  background-color: var(--purple);
  padding: 0.75em 1.25em;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
  font-weight: 500;
  font-family: "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-size: 150%; */
}

@media only screen and (max-width: 768px) {

  .showcase {
    flex-flow: column !important;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* .show-text {
    display: none;
    font-size: 95%;
  } */

  .show-text {
    align-items: center !important;
    justify-content: space-between !important;
    width: auto !important;
    margin-left: 0 !important;
    position: absolute;
    padding: 1rem;
    text-align: center;
    width: 300px !important;
  }

  .fn-btns {
    gap: 0.5rem !important;
    margin: 1rem 0 !important;
  }

  .fn-btns a {
    font-size: 0.8rem !important;
  }

  .show-img img {
    filter: brightness(0.35);
  }

  .show-text > h1 {
    font-size: 1.8rem !important;
    padding: 0.2em 0 !important;
  }

}